<div id="create">
  <h2>Make:</h2>
  <%= render :partial => 'form' -%>
</div>

<div id="recent">
  <h2>Sample hidim'd torrents</h2>
  <ul>
    <% @piings.each do |piing| -%>
      <li><%= image_tag piing.png.url -%></li>
    <% end -%>
  </ul>
</div>

