log/*.log
log/*.pid
log/*.yml
tmp/**/*
.DS_Store
doc/api
doc/app
config/database.yml
config/development.sphinx.conf
config/test.sphinx.conf
private/*.txt
public/logos/*
db/*.sqlite3
db/sphinx/*
.#*
vendor/sphinx
tmp/*
tmp/restart.txt
*.swp
*.swo
backups/*
public/screenshots
public/previews
public/logos
public/torrents
