html, body {
  height: 100%;
}

* {
  margin: 0;
}

body {
  background: #2e2929 url('../images/repeat.png') top left repeat-y;
  margin: 0;
  font-family: "Droid Sans", Helvetica, sans-serif;
  color: #eee;
}
#recent ul li {
  list-style: none;
}
#recent ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
}
h1 {
  width: 224px;
  height: 64px;
  text-indent: -10000px;
  background: url('../images/background.png') top left no-repeat;
  margin: 0 0;
  position: absolute;
  top: 0;
  left: 0;
}
.hidim-item div {
  font-size: 0.8em;
  margin-bottom: 1em;
}
#content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 20px -60px 260px;
}

h2.first {
  padding-top: 2em;
}

.section {
  margin-bottom: 2em;
}

h2 {
  color: #AAA;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow: #222 0 1px 0;
  margin-bottom: 0.5em;
}
p {
  font-size: 0.9em;
  line-height: 1.3em;
}
#create_wrapper, #extension_wrapper {
  width: 50%;
  float: left;
  min-width: 328px;
}

#create, #extension {
  color: #222;
  padding: 15px;
  min-height: 5.5em;
  background: #A1C460 url(../images/make_bg.png) top left repeat-x;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 2px 2px #0A0A0A;
  -webkit-box-shadow: 0px 1px 1px #0A0A0A;
}

#create a, #extension a {
  color: #000;
  background: transparent;
}

/* Show buttons full-width if the screen size is small */
@media all and (max-width: 950px) {
  #create, #extension {
    margin: 0 0 1em 0 !important;
  }
  #create_wrapper, #extension_wrapper {
    width: 100%;
  }
}

#create {
  margin-right: 10px;
}
#create form {
  margin: 0;
}

#extension {
  margin-left: 10px;
}

#extension p {
  margin-bottom: 0;
}

#extension .screenshot-thumb {
  float: right;
  margin-top: -5px;
  margin-left: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#create h2, #extension h2 {
  color: #222;
  margin-top: 0;
  text-shadow: #CCC 0 1px 0;
}

#notice {
  clear: both;
  padding: 10px;
  background-color: #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 2em;
}

#recent {
  clear: both;
}

.github-icon {
  float: left;
}

#github-projects {
  padding-top: 25px;
  margin-left: 130px;
}

#footer, .push {
  height: 60px;
}

.push {
  padding-bottom: 20px;
}

#footer {
  position: relative;
  background-color: #000;
}

#footer a {
  background-color: #333;
}

#footer p {
  padding: 20px 15px;
  margin: 0;
}

#github-projects div.project {
  font-weight: bold;
  font-size: 1.6em;
  color: #FFF;
  line-height: 1.6em;
}

img.icon {
  border: 0;
  margin: 0 -1px -3px 0;
}

p {
  margin-bottom: 0.4em;
}

a {
  color: #FFF;
  background: #000;
  padding: 2px 2px 1px 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

@font-face {
	font-family: Delicious;
	src: url('/fonts/Delicious-Roman.otf');
}

@font-face {
	font-family: Delicious;
	font-weight: bold;
	src: url('/fonts/Delicious-Bold.otf');
}

@font-face {
  font-family: "Droid Sans";
  src: url('/fonts/DroidSans.ttf');
}
@font-face {
  font-family: "Droid Sans";
  font-weight: bold;
  src: url('/fonts/DroidSans-Bold.ttf');
}
img { behavior: url(/iepngfix.htc) }
a img {
  border: 0;
}