body {
  background: #2e2929 url('../images/repeat.png') top left repeat-y;
  margin: 0;
  color: #FFF;
  font-family: Helvetica, sans-serif;
}
#recent ul li {
  list-style: none;
}
#recent ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
}
h1 {
  width: 224px;
  height: 64px;
  text-indent: -10000px;
  background: url('../images/background.png') top left no-repeat;
  margin: 0 0;
}

h2 {
  font-size: 1.2em;
  font-weight: 600;
}
#content {
  margin-left: 250px;
}
