<div id="about_nav">
  About: 
  <%= link_to "The Bookmarklet", about_url(:action => 'bookmarklet') -%>,
  <%= link_to "Hidim Format", about_url(:action => 'format') -%>
  <span style="float: right;"><%= link_to "Return Home", root_url -%></span>
</div>
