<div class="section" id="intro">
  <h2 class="first">Hidims embed torrents in images</h2>
  <p>
    A Hidim turns a torrent into a regular PNG image that can be saved and posted anywhere that images 
    can be posted.  It can even be pasted into another image such as a personal sig as long as the 
    file is saved as a 24-bit PNG and no colors are changed.
  </p>
</div>

<div id="create_wrapper">
  <div id="create" class="section">
    <h2>Make a hidim</h2>
    <%= render :partial => 'form' -%>
  </div>
</div>

<div id="extension_wrapper">
  <div id="extension" class="section">
    <a class="screenshot-thumb" rel="lightbox" href="/firefox-extension/screenshot-1.png">
      <img src="/firefox-extension/screenshot-1.thumb.png"/>
    </a>
    <h2>Decode a hidim</h2>
    <p>
      <a href="https://addons.mozilla.org/en-US/firefox/addon/12858/">
	<img class="icon" src="/images/firefox-16.png"> 
	Get the Firefox extension from addons.mozilla.org
      </a>
    </p>
    <p>
      An experimental bookmarklet:
      <a href="javascript:(function(){if(typeof%20HidimReader!='undefined'){HidimReader.init();}else{var%20n=document.createElement('script');n.setAttribute('language','JavaScript');n.setAttribute('src','http://hid.im/javascripts/hidim_reader.js');document.body.appendChild(n);}})();;">Decode Hidim</a><br/>
      (requires FF3, Safari4, Chrome)
    </p>
  </div>
</div>

<% unless flash[:notice].blank? -%>
  <div id="notice">
    <% if Array === flash[:notice] -%>
      <%= flash[:notice].map{|line| "<p>#{line}</p>"} -%>
    <% else -%>
      <%= flash[:notice] -%>
    <% end -%>
  </div>
<% end -%>

<div class="section" id="recent">
  <h2>Sample hidim'd torrents</h2>
  <ul>
    <% @hidims.first(3).each do |hidim| -%>
      <li class="hidim-item">
	<%= render :partial => 'hidim', :object => hidim -%>
      </li>
    <% end -%>
  </ul>
</div>

<div class="section" id="opensource">
  <h2>Open Source</h2>
  <p>
    Hidim is still in its infancy and it could use your help!  You can help by trying it out, 
    <a href="http://github.com/mnutt/hid.im-firefox/issues">finding and reporting bugs</a>, 
    <a href="http://github.com/mnutt/hid.im-firefox">hacking on the source</a> or creating 
    implementations in other languages. Hidim is licensed under the <a href="http://github.com/mnutt/hid.im-firefox/raw/4cdb119fe6233674dc3f1e31f9f17ea94445107a/LICENSE">MIT License</a>.
  </p>

  <img src="/images/github.png" class="github-icon" alt="Github"/>
  <div id="github-projects">
    <div class="project"><a href="http://github.com/mnutt/hid.im-firefox">Check out the hidim firefox extension on GitHub</a></div>
    <div class="project"><a href="http://github.com/mnutt/hid.im">Check out the hid.im website on GitHub</a></div>
  </div>
</div>
